.main{
    display: flex;
    background-color: #c0c0c0;
}

.grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.articulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem;
    height: 30rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: white;
}

.img-articulo{
    text-align: center;
    padding: 1rem 0;
}

.card-text-container{
    padding: 1rem;
}

.boton-art{
    width: 100%;
}

.total{
    display: flex;
    justify-content: center;
    background-color: #c0c0c0;
}